* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#container-1{
    display: block;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    position: relative;
    transform: none;
}


#container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    padding: 20px;
}

#main{
    min-height: 800px;
}
